<footer class="footer">
    <a class="footer--up" href="#go-top" title="Volver" alt="Back to menu">
      <img class="footer--up-arrow" src=".\assets\images\ico-arrow.svg" alt="go up arrow" title="Go up"/>
    </a>
    <div class="footer--content2">
      <nav class="footer--content2-menu">
        <ul>
          <li><a href="https://adalab.es/"  title="Read our articles">Articles</a></li>
          <li><a href="https://adalab.es/"  title="Check our books">Books</a></li>
          <li><a href="https://adalab.es/"  title="Check next events">Events</a></li>
          <li><a href="https://adalab.es/" title="Reasons to purchase">Reasons</a></li>
          <li><a href="https://adalab.es/"  title="Read some tips">Tips</a></li>
        </ul>
      </nav>
      <nav class="footer--content2-social">
        <ul>
          <li><a href="https://adalab.es/"  title="Follow us in Twitter">Twitter</a></li>
          <li><a href="https://adalab.es/"  title="Follow us in Instagram">Instagram</a></li>
          <li><a href="https://adalab.es/" title="Follow us at Mastodon">Mastodon.social</a></li>
        </ul>
      </nav>
      <small class="footer--content2-copy"
        ><div>©2021</div>
        <div>
          we <span class="footer--content2-copy__heart">❤︎</span> components
        </div></small
      >
    </div>
  </div>
</footer>
