<header class="header">
  <div class="header--hero">
    <div class="header--menu">
      <img
        class="header--menu-burguer"
        src="\assets\images\ico-menu.svg"
        alt="menu
            icon"
      />
    </div>
    <div class="header--hero-text">
      <h1 class="header--hero-text-title">
        <div>anonymous</div>
        <div>proxy</div>
      </h1>
      <p class="header--hero-text-slogan">In hac habitasse platea dictumst.</p>
    </div>
    <div class="header--hero-scroll">
      <img
        class="header--hero-scroll-down"
        src="\assets\images\ico-scroll-down.svg"
        alt="arrow scroll"
      />
    </div>
  </div>
</header>
