<header class="header">
  <div class="header--hero">
    <div class="header--hero-menu">
      <a href="https://adalab.es/">
        <img
          class="header--hero-menu-burguer"
          src="./assets/images/ico-menu.svg"
          alt="menu
                icon"
        />
      </a>
    </div>
    <div class="header--hero-text">
      <h1 class="header--hero-text-title">
        <div>Anonymous</div>
        <div>proxy</div>
      </h1>
      <h2 class="header--hero-text-slogan">
        In hac habitasse platea dictumst.
      </h2>
    </div>
    <div class="header--hero-scroll">
      <img
        class="header--hero-scroll-down"
        src="./assets/images/ico-scroll-down.svg"
        alt="arrow scroll"
      />
    </div>
  </div>
</header>
