<header class="header" id="go-top">
  <div class="header--hero">
    <nav>
      <a
        class="header--hero-menu"
        href="https://adalab.es/"
        title="Go to Adalab"
      >
        <img
          class="header--hero-menu-burguer"
          src="./assets/images/ico-menu.svg"
          alt="menu icon"
          title="Menu"
        />
      </a>
    </nav>
    <h1 class="header--hero-title">
      <div>Anonymous</div>
      <div>proxy</div>
    </h1>
    <h2 class="header--hero-slogan">In hac habitasse platea dictumst.</h2>

    <a
      class="header--hero-scroll"
      href="#go-reasons"
      title="Reasons to purchase"
    >
      <div class="header--hero-scroll-down">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="arrow scroll"
          title="Reasons to purchase"
        />
      </div>
    </a>
  </div>
</header>
