<section class="reasons" id="go-reasons">
  <div class="reasons--wrapper">
    <div class="reasons--title">
      <h2>3 Reasons to purchase</h2>
    </div>

    <div class="reasons--item__1">
      <article>
        <h3 class="reasons--item-title">Ut sed metus</h3>
        <p class="reasons--item-description">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </article>
    </div>

    <div class="reasons--item__2">
      <article>
        <h3 class="reasons--item-title">Curabitur ac erat</h3>
        <p class="reasons--item-description">
          Mauris mattis urna quis lorem molestie.
        </p>
      </article>
    </div>

    <div class="reasons--item__3">
      <article>
        <h3 class="reasons--item-title">Morbi dictum</h3>
        <p class="reasons--item-description">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </article>
    </div>
    <a href="#go-reasons" class="reasons--button" href="#go-reasons"
      >More reasons</a
    >
  </div>
</section>
