<section class="reasons">
  <div class="reasons--wrapper">
    <div class="reasons--tittle">
      <h2>3 Reasons to purchase</h2>
    </div>
    <div class="reasons--item">
      <article>
        <h3 class="reasons--item-tittle">Ut sed metus</h3>
        <p class="reasons--item-description">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </article>
    </div>
    <div class="reasons--item">
      <article>
        <h3 class="reasons--item-tittle">Ut sed metus</h3>
        <p class="reasons--item-description">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </article>
    </div>
    <div class="reasons--item">
      <article>
        <h3 class="reasons--item-tittle">Ut sed metus</h3>
        <p class="reasons--item-description">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </article>
    </div>
    <div><a class="reasons--button" href="#">More reasons</a></div>
  </div>
</section>
