.footer {
  background-color: $colorDarkblue;
  color: $colorWhite;
  font-family: $fontRoboto;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media all and (min-width: 768px) {
  }
  &--up {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);

    &-arrow {
      width: 20.6px;
    }
  }
  &--content {
    &-menu {
      padding-top: 37px;
    }
    &-social {
      padding-top: 30px;
    }
    &-copy {
      padding: 30px 0 45px;
      text-transform: lowercase;
      &__heart {
        color: $colorOrange;
      }
    }
  }
}
