.header {
  &--hero {
    height: 100vh;
    width: 100%;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: $colorWhite;

    &-menu {
      width: 44px;
      height: 44px;
      background-color: $colorBrightblue;
      position: absolute;
      position: fixed;
      top: 0;
      left: 0;

      &-burguer {
        width: 16px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-title {
      font-family: $fontRobotoSlab;
      font-size: 42px;
      font-weight: bold;
      line-height: 55px;
      text-transform: uppercase;
      text-shadow: 0 2px 3px $colorshadow;
      padding-bottom: 10px;
      @media all and (min-width: 768px) {
        font-size: 80px;
        line-height: 106px;
        padding-bottom: 20px;
      }
      @media all and (min-width: 1280px) {
        font-size: 100px;
        line-height: 132px;
        padding-bottom: 0;
        text-shadow: 0 2px 5px $colorshadow;
      }
    }

    &-slogan {
      font-family: $fontRoboto;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      padding-bottom: 45px;
      @media all and (min-width: 768px) {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 30px;
      }
    }

    &-scroll {
      width: 45px;
      line-height: 45px;
      margin-bottom: 53px;
      background-color: $colorWhite;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media all and (min-width: 768px) {
        margin-bottom: 45px;
      }
      @media all and (min-width: 1280px) {
        margin-bottom: 13px;
      }

      &-down {
        width: 20px;
      }
    }
  }
}
