.header {
  &--hero {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-menu {
      width: 44px;
      height: 44px;
      background-color: $colorBrightblue;
      align-self: flex-start;
      position: relative;

      &-burguer {
        width: 16px;
        height: 14px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-text {
      text-align: center;
      padding: 284px 0 143px 0;
      color: $colorWhite;

      &-title {
        font-family: $fontRobotoSlab;
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
      }

      &-slogan {
        font-family: $fontRoboto;
        font-weight: 400;
        font-size: 16px;
        padding-top: 10px;
        line-height: 21px;
      }
    }
    &-scroll {
      width: 45px;
      height: 45px;
      margin-bottom: 53px;
      background-color: $colorWhite;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-down {
        width: 20px;
        height: 11.7px;
      }
    }
  }
}
