.header--hero-scroll:hover {
    animation: scrolls 0.5s ease 2;
}
.footer--up:hover {
    animation: scrolls 0.5s ease 2;
}

@keyframes scrolls {
    from {
        width: 45px;
        height: 45px;
        border: 0 solid $colorWhite;
    }
    to {
        width: 45px;
        height: 45px;
        border: 4px solid $colorOrange;
    }
}

.article--button:hover {
    animation: go-button 1s ease 1;
}

@keyframes go-button {
    from {
        border: 2px solid $colorOrange;
        color: $colorOrange;
    }
    to {
        border: 2px solid $colorWhite;
        background-color: $colorOrange;
        color: $colorWhite;
    }
}

.reasons--button:hover {
    animation: reasons-button 1s ease 1;
}
@keyframes reasons-button {
    from {
        border-radius: 22.5px;
    }
    to {
        border-radius: 0;
        border: 2px dotted $colorWhite;
    }
}

.footer--content2-copy__heart {
    animation: heart 0.5s infinite alternate-reverse;
}
@keyframes heart {
    from {
        font-size: 10px;
    }
    to {
        font-size: 11px;
    }
}
