.header--hero-scroll:hover {
    animation: scrolldown 0.5s ease 2;
}

@keyframes scrolldown {
    from {
        width: 45px;
        height: 45px;
        border: 0 solid $colorWhite;
    }
    to {
        width: 45px;
        height: 45px;
        border: 4px solid $colorOrange;
    }
}

.article--button:hover {
    animation: go-button 1s ease 1;
}

@keyframes go-button {
    from {
        border: 2px solid $colorOrange;
        color: $colorOrange;
    }
    to {
        border: 2px solid $colorWhite;
        background-color: $colorOrange;
        color: $colorWhite;
    }
}

.reasons--button {
    animation: reasons-button 1s ease 1;
}
@keyframes reasons-button {
    from {
        border: 2px dotted $colorOrange;
    }
    to {
        border: 2px dotted $colorWhite;
    }
}
